<div class="grid-item cards">
    <div class="container my-4">
  <div class="card cards">
    <div class="card-body">
      <h5 class="card-title text-center">{{cardTitle}}</h5>
      <p class="card-text">{{content}}</p>
      <a href="#" class="btn btn-outline-primary cardButton">Learn More</a>
    </div>
  </div>
</div>
  </div>